/* Generals */

    * {
      box-sizing: border-box;
      margin: 0;
      border: 0;
    }

    body {
      font-family: 'Lato', sans-serif;
    }

    a {
      color: inherit;
      text-decoration: inherit;
    }

    a:hover {
      color: #048383;
    }

    h1 {
      font-size: 90px;
    }

    h2 {
      font-size: 40px;
    }

    h3 {

    }

    h4 {
      color: #45bbbc;
    }

    p {
      color: #aeb0b0;
    }

    .fa, .fab, .fal, .far, .fas {
      line-height: inherit;
    }

    .container {
      width: 60%;
      margin: auto;
    }

    .flex {
      display: flex;
      align-items: center;
    }

    .green-but {
      padding: 10px 20px;
      border-radius: 5px;
      background-color: #048383;
      color: white;
    }

    .h-lighted {
      display: inline-block;
      background-color: rgba(4, 131, 131, 0.3);
      padding: 3px 10px;
    }



/* Header */

    /* Info */

        #info {
          background-color: #21333e;
          color: #aeb0b0;
        }

        #info .container {
          justify-content: space-between;
          height: 40px;
        }

        #info .container>div:last-child>* {
          margin-left: 30px;
        }

        #info .container div span {
          margin-left: 5px;
        }

    /* NavBar */

        nav {
          height: 60px;
          justify-content: space-between;
        }

        nav>div>* {
          margin-left: 20px;
        }

    /* Jumbo */

        #jumbo {
          height: 850px;
          background-image: url(../img/bg-6.jpg);
          background-position: left;
        }

        #jumbo>div {
          margin-left: 50%;
          height: calc(100% - 60px);
          width: 500px;
        }

        #jumbo h1 {
          margin: 15px auto 25px;
        }

        #jumbo-form input , #jumbo-form select {
          width: 245px;
          margin-bottom: 10px;
          background-color: lightgrey;
          border-radius: 5px;
          padding: 10px;
        }

        #jumbo-form input:first-child {
          margin-right: 10px;
        }

        #jumbo-form .green-but:last-child {
          background-color: white;
          border: 1px solid #048383;
          color: #048383;
          padding: 9.5px 19.5px;
          margin-left: 10px;
        }



/* Main */

    /* Company */

        #company {
          background-color: #121117;
          color: white;
        }

        #company .container {
        }

        #company .container>div {
          padding: 100px 0;
          width: 50%;
        }

        /* company left */

            #company .left {
              margin-right: 100px;
            }

            #company .left h2 {
              margin: 20px auto;
            }

            #company .left p:last-child {
              margin-top: 15px;
            }

        /* company right */

            #company .right {
              flex-wrap: wrap;
            }

            #company .right>div {
              width: 50%;
              margin-top: 10px;
            }

            #company .right>div:nth-child(3), #company .right>div:nth-child(4) {
              margin-top: 30px
            }

            #company .right p {
              margin-top: 15px
            }

            #company .right i {
              color: #45bbbc;
              margin-right: 5px;
            }

    /* Services */

        #services {
          padding: 100px 0;
          background-color: #e8ecea;
        }

        #services h2 {
          margin: 20px auto;
        }

        #services .p-see {
          justify-content: space-between;
          margin-bottom: 20px;
        }

        #services .p-see>p {
          width: 80%;
        }

        #services div:last-child {
          flex-wrap: wrap;
          justify-content: space-between;
        }

        #services .box {
          background-color: white;
          padding: 30px;
          border-radius: 10px;
          width: calc((100% - 60px) / 3);
          margin-top: 30px;
          position: relative;
        }

        #services .box i {
          color: #45bbbc;
          font-size: 40px;
        }

        #services .box h3 {
          margin: 20px 0;
        }

        #services .box i.fas.fa-arrow-right {
          position: absolute;
          top: 30px;
          right: 30px;
          font-size: 25px;
          filter: opacity(0.5);
        }
