/* Generals */

    * {
      box-sizing: border-box;
      margin: 0;
      border: 0;
    }

    body {
      font-family: 'Lato', sans-serif;
    }

    a {
      color: inherit;
      text-decoration: inherit;
    }

    a:hover {
      color: #048383;
    }

    h1 {
      font-size: 90px;
    }

    h2 {
      font-size: 40px;
      margin: 20px 0;
    }

    h3 {

    }

    h4 {
      color: #45bbbc;
    }

    p {
      color: #aeb0b0;
    }

    .fa, .fab, .fal, .far, .fas {
      line-height: inherit;
    }

    .container {
      width: 60%;
      margin: auto;
    }

    .flex {
      display: flex;
      align-items: center;
    }

    .green-but {
      padding: 10px 20px;
      border-radius: 5px;
      background-color: #048383;
      color: white;
    }

    .h-lighted {
      display: inline-block;
      background-color: rgba(4, 131, 131, 0.3);
      padding: 3px 10px;
    }

    .elf {
      color: #078282;
    }



/* Header */

    /* Info */

        #info {
          background-color: #21333e;
          color: #aeb0b0;
        }

        #info .container {
          justify-content: space-between;
          height: 40px;
        }

        #info .container>div:last-child>* {
          margin-left: 30px;
        }

        #info .container div span {
          margin-left: 5px;
        }

    /* NavBar */

        nav {
          height: 60px;
          justify-content: space-between;
        }

        nav>div>* {
          margin-left: 20px;
        }

    /* Jumbo */

        #jumbo {
          height: 850px;
          background-image: url(../img/bg-6.jpg);
          background-position: left;
          background-size: cover;
        }

        #jumbo>div {
          margin-left: 50%;
          height: calc(100% - 60px);
          width: 500px;
        }

        #jumbo h1 {
          margin: 15px auto 25px;
        }

        #jumbo-form input , #jumbo-form select {
          width: 245px;
          margin-bottom: 10px;
          background-color: lightgrey;
          border-radius: 5px;
          padding: 10px;
        }

        #jumbo-form input:first-child {
          margin-right: 10px;
        }

        #jumbo-form .green-but:last-child {
          background-color: white;
          border: 1px solid #048383;
          color: #048383;
          padding: 9.5px 19.5px;
          margin-left: 10px;
        }



/* Main */

    /* Company */

        #company {
          background-color: #121117;
          color: white;
        }

        #company .container>div {
          padding: 100px 0;
          width: 50%;
        }

        /* company left */

            #company .left {
              margin-right: 100px;
            }

            #company .left p:last-child {
              margin-top: 15px;
            }

        /* company right */

            #company .right {
              flex-wrap: wrap;
            }

            #company .right>div {
              width: 50%;
              margin-top: 10px;
            }

            #company .right>div:nth-child(3), #company .right>div:nth-child(4) {
              margin-top: 30px
            }

            #company .right p {
              margin-top: 15px
            }

            #company .right i {
              color: #45bbbc;
              margin-right: 5px;
            }

    /* Services */

        #services {
          padding: 100px 0;
          background-color: #e8ecea;
        }

        #services .p-see {
          justify-content: space-between;
          margin-bottom: 20px;
        }

        #services .p-see>p {
          width: 80%;
        }

        #services div:last-child {
          flex-wrap: wrap;
          justify-content: space-between;
        }

        #services .box {
          background-color: white;
          padding: 30px;
          border-radius: 10px;
          width: calc((100% - 60px) / 3);
          margin-top: 30px;
          position: relative;
        }

        #services .box i {
          color: #45bbbc;
          font-size: 40px;
        }

        #services .box h3 {
          margin: 20px 0;
        }

        #services .box i.fas.fa-arrow-right {
          position: absolute;
          top: 30px;
          right: 30px;
          font-size: 25px;
          filter: opacity(0.5);
        }

    /* Process */

        #process {
          padding: 100px 0;
          text-align: center;
        }

        #process>p {
          width: 700px;
          margin: auto;
          margin-bottom: 40px;
        }

        #process .time-line {
          position: relative;
        }

        #process .time-line>div:last-child {
          display: flex;
          width: 80%;
          margin: auto;
          align-items: flex-start;
        }

        #process .step {
          padding: 0 40px;
          z-index: 100;
        }

        #process .step h3 {
          margin: 20px 0;
        }

        #process .step .num {
          padding: 10px;
          border-radius: 50%;
          background-color: #b3d9d9;
          display: inline-block;
          font-weight: bold;
        }

        #line {
          background-color: rgba(4, 131, 131, 0.3);
          height: 4px;
          width: 100%;
          position: absolute;
          top: 17px;
        }

    /* Team */

        #team {
          padding: 100px 0;
          background-color: #121117;
          color: white;
        }

        #team h4 {
          margin-bottom: 20px;
        }

        #team h2 {
          margin-top: 0;
        }

        #team>.container>div {
          align-items: stretch;
        }

        /* Team left */

            #team .left {
              width: 70%;
            }

            #team .left>div{
              flex-wrap: wrap;
            }

            #team .team-id {
              margin: 40px 40px 0 0;
              width: calc(50% - 40px);
            }

            #team .team-id h3 {
              font-size: 25px;
            }

            #team .team-id img {
              width: 120px;
              border-radius: 5px;
              margin-right: 30px;
            }

            #team .team-id p {
              font-size: 12px;
              margin: 10px 0 20px;
            }

            #team .team-id span {
              background-color: rgba(4, 131, 131, 0.3);
              border-radius: 50%;
              justify-content: center;
              width: 30px;
              height: 30px;
              margin-right: 5px;
            }

        /* Team right */

            #team .right {
              background-color: #048383;
              padding: 40px;
              width: 30%;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: flex-start;
              border-radius: 5px;
              position: relative;

            }

            #team .right p:last-child {
              color: white;
            }

            #team .right i{
              position: absolute;
              bottom: 40px;
              right: 40px;
              color: #0d3338;
              filter: opacity(0.5);
            }
